/* register & login styling */
#reglog_body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(./Images/anders-j-hxUcl0nUsIY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}

.container{
    background-color: #000000;
    position: relative;
    top: 30%;
    border-radius: 30px;
    max-width: 600px;
    margin: auto;
    padding: 50px;;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-group{
    margin-bottom: 30px;
}


/* navbar styling */
.nav-bar a {
    color: white; /* Default color */
    transition: all 0.3s ease; /* Smooth transition */
}

.nav-bar a:hover {
    color: #75fb87; /* Change color on hover */
    transform: scale(1.05); /* Slightly enlarge the icon/text */
}


/* index.php styling */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

#sect1 {
    max-height: 75vh;
    display: flex;
    justify-self: center;
}

.sect1_child1 {
    max-height: 75vh;
    width: 40vw;
    background-color: #75fb87;
}

.sect1_child2 {
    max-height: 75vh;
    width: 40vw;
}

#sect2 {
    display: flex;
    height: 75vh;
    width: 80vw;
    background-color: white;
    justify-self: center;
}

.sect2_child1 {
    position: relative;
    left: 10%;
    background-color: black;
    border-radius: 15px;
    height: 750px;
    width: 400px;
    color: #75fb87;
}

.sect2_child2 {
    position: relative;
    left: 20%;
    background-color: #75fb87;
    border-radius: 15px;
    height: 750px;
    width: 400px;
    color: black;
}

.sect2_child3 {
    position: relative;
    left: 30%;
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 750px;
    width: 400px;
    color: black; 
}

#sect3 {
    background-color: white;
    height: 50vh;
    display: flex;
    width: 80vw;
    justify-self: center;
}

.sect3_child1 {
    position: relative;
    justify-self: center;
    width: 35%;
    height: 60%;
    left: 20%;
    top: 20%;
}

.sect3_child2 {
    position: relative;
    justify-self: center;
    width: 30%;
    height: 60%;
    left: 20%;
    top: 20%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#sect4 {
    width: 80vw;
    height: 75vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(./Images/green-energy-house.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* footer styling */

footer {
    width: 80vw;
    background-color: black;
    height: 50vh;
    justify-self: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid white;
}


/* products.php styling */
#prodSect1 {
    width: 80vw;
    height: 60vh;
    justify-self: center;
    display: flex;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

.prodSect1_child1 {
    height: 60vh;
    width: 45vw;
}

.prodSect1_child2 {
    color: black;
    height: 60vh;
    width: 35vw;
    background-color: #75fb87;
}

#prodSect2 {
    height: 100vh;
    border: 1px solid black;
    width: 80vw;
    justify-self: center;
    background-color: white;
}

.prodSect2_child1 {
    width: 35vw;
    justify-content: center;
    position: relative;
    height: 300px;
}

.prodSect2_child2 {
    width: 35vw;
    justify-self: center;
}

.prodSect2_child3 {
    width: 35vw;
    height: 25vh;
    border-radius: 30px;
    background-color: #d9d9d9;
    position: relative;
    justify-self: center;
}

#prodSect3 {
    height: 95vh;
    border: 1px solid black;
    width: 80vw;
    justify-self: center;
    background-color: white;
}

.prodSect3_child1 {
    width: 35vw;
    justify-content: center;
    position: relative;
    height: 300px;
}

.prodSect3_child2 {
    width: 35vw;
    justify-self: center;
}

.prodSect3_child3 {
    width: 35vw;
    height: 25vh;
    border-radius: 30px;
    background-color: #d9d9d9;
    position: relative;
    justify-self: center;
}

#prodSect4 {
    height: 100vh;
    border: 1px solid black;
    width: 80vw;
    justify-self: center;
    background-color: white;
}

.prodSect4_child1 {
    width: 35vw;
    justify-content: center;
    position: relative;
    height: 300px;
}

.prodSect4_child2 {
    width: 35vw;
    justify-self: center;
}

.prodSect4_child3 {
    width: 35vw;
    height: 25vh;
    border-radius: 30px;
    background-color: #d9d9d9;
    position: relative;
    justify-self: center;
}

#prodSect5 {
    height: 110vh;
    border: 1px solid black;
    width: 80vw;
    justify-self: center;
    background-color: white;
}

.prodSect5_child1 {
    width: 35vw;
    justify-content: center;
    position: relative;
    height: 300px;
}

.prodSect5_child2 {
    width: 35vw;
    justify-self: center;
}

.prodSect5_child3 {
    width: 35vw;
    height: 25vh;
    border-radius: 30px;
    background-color: #d9d9d9;
    position: relative;
    justify-self: center;
}

#prodSect6 {
    height: 105vh;
    border: 1px solid black;
    width: 80vw;
    justify-self: center;
    background-color: white;
}

.prodSect6_child1 {
    width: 35vw;
    justify-content: center;
    position: relative;
    height: 300px;
}

.prodSect6_child2 {
    width: 35vw;
    justify-self: center;
}

.prodSect6_child3 {
    width: 35vw;
    height: 25vh;
    border-radius: 30px;
    background-color: #d9d9d9;
    position: relative;
    justify-self: center;
}